

.container {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0; 
  background-image: url('./assets/shadows_black.png');
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: cover; 
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; 
}

/* --- NAVBAR --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; 
  font-family: var(--font-ui);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.logo {
  font-family: var(--font-artistic);
  font-size: 1.5rem;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu a {
  position: relative;
  transition: color 0.3s;
}

.menu a:hover {
  color: #555;
}

.btn-tienda {
  background: white;
  border: 2px solid black;
  padding: 8px 25px;
  border-radius: 10px;
  font-family: var(--font-ui);
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  transition: all 0.1s;
}

.btn-tienda:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

/* --- HERO SECTION --- */
.hero {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-title {
  font-family: var(--font-artistic); 
  font-weight: 900; 
  font-size: 22vw; 
  width: 100%;
  margin: 0;
  line-height: 0.8;
  
  /* POSICIONAMIENTO Y CAPAS */
  position: relative;
  z-index: 1; 
  
  letter-spacing: -5px; 
  color: #1a1a1a;
  display: flex;
  justify-content: center;
}

/* Contenedor del Corazón */
.hero-image-container {
  margin-top: -20vw; 
  
  position: relative;
  z-index: 10; 
  width: 100%;
  max-width: 800px;
  pointer-events: none; 
}

.heart-img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 10px 15px rgba(0,0,0,0.3)); 
}

/* ---  "TALL" --- */
.bg-text {
  position: absolute;
  font-family: var(--font-artistic);
  z-index: 0; 
  line-height: 1;
}

.tall {
  color: #000000; 
  font-size: 18rem; 
  top: 20%; 
  right: 5%;
}

.er {
  color: #000000; 
  font-size: 18rem;
  top:40%;
  left: 19%; 
}

.hero-text {
  margin-top: 50px; 
  z-index: 11; 
}

.hero-text h2 {
  font-family: var(--font-artistic); 
  font-size: 2.5rem;
  margin: 10px 0;
  font-weight: 400;
}

.hero-text h3 {
  font-family: var(--font-artistic); 
  font-size: 2rem;
  margin: 5px 0;
}

.hero-text p {
  font-family: var(--font-artistic); 
  font-size: 1.5rem;
  margin-top: 10px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .main-title {
    font-size: 25vw; 
    letter-spacing: -2px;
  }
  
  .hero-image-container {
    margin-top: -10vw;
    max-width: 90%;
  }

  .tall {
    font-size: 6rem;
    top: 55%;
    left: 20px;
  }
  
  .er {
    font-size: 6rem;
    top: 65%;
    right: 20px;
  }
}