:root {
  /* COLORES */
  --bg-color: #FCD5CE; 
  --text-color: #000000;
  
  /* FUENTES */
  --font-artistic: "Barrio", system-ui;  
  --font-ui: "Maven Pro", sans-serif;    
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-ui); 
  box-sizing: border-box;
  overflow-x: hidden; 
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}